<header>
	<nav id="nav" class="main-nav">
		<div class="logotype">
			<img src="../uploads/images/logo/{{ logo }}" alt="">
		</div>
		<ul>
			{{ include('webpages/blocks/_navigation.html.twig', { pos: 0 }) }}
		</ul>
	</nav>
</header>
