{% extends 'admin.html.twig' %}

{% block title %}Liste des équipes{% endblock %}

{% block body %}
<section class="block">
    <h2>Équipe</h2>
    <div class="line">
        <p>Nom et prénom</p>
        <ul>
            <li><a href="">Modifier</a></li>
            <li><a href="">Supprimer</a></li>
        </ul>
    </div>
</section>
{% endblock %}
